<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firebnb.android">

    <application
        android:label="Firebnb"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="firebnb" android:host="listing"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="firebnb" android:host="profile"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
